<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AppUDT44</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="rarranzm@gmail.com" href="http://tron44.com">
        Raul arranz molinero
    </author>
    <content src="index.html" />
    <access origin="*" />
   
	<allow-navigation href="*" />
<platform name="android">
    <config-file target="AndroidManifest.xml" parent="/*">
         <uses-permission name="android.permission.INTERNET" />         
    </config-file>
</platform>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/network"/>
	<icon src="www/assets/fondo_logo.png"/>
</widget>
